<div class="bg-light p-5 mt-0">
    <div>
        <h3>Ma pub</h3>
        <hr>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia facilis, repellendus eius, ipsum obcaecati incidunt est dolores commodi inventore quaerat provident a quod! Accusantium laborum odit aperiam quod.</p>
    </div>
</div>